body {
  margin-top: 73px; }

.navbar {
  box-shadow: 2px 2px 2px 5px #007bff;
  opacity: 0.9;
  background: #fff; }
  .navbar .navbar-item {
    font-size: 1.4rem;
    padding-right: 1.4rem; }

#showcase {
  position: relative;
  background: url("../img/showcase.jpg");
  background-size: cover;
  background-position: center;
  height: 400px; }
  #showcase .primary-overlay {
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    height: 150px; }
  @media (max-width: 768px) {
    #showcase .lead {
      margin: 28% 0 auto 0;
      font-size: 22px;
      line-height: 2;
      font-weight: 500; }
    #showcase .display-4 {
      display: none; }
    #showcase .primary-overlay {
      background: rgba(255, 255, 255, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    #showcase .navbar-brand {
      display: none; } }

#cards .card-img-top {
  height: 200px; }

#cards2 .card-img-top {
  height: 210px; }
